<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f0f0; /* Light blue background */
            margin: 0;
            padding: 0;
            text-align: center;
            background-image: url('/images/uganda/resources5.jpg'); /* Background image */
            background-size: cover;
            background-position: center;
        }

        .container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background: #dddcdc;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 2.5rem;
            color: #1a4203; /* Deep blue */
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            margin: 10px;
            padding: 15px 25px;
            background-color: #5195a1; /* Light blue */
            color: #ffffff;
            font-size: 1rem;
            text-decoration: none;
            border-radius: 5px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, transform 0.2s;
            width: 300px;
        }

        .button:hover {
            background-color: #4682b4; /* Steel blue */
            transform: scale(1.05);
        }

        .button:active {
            transform: scale(0.95);
        }

                /* Styles for the Back to Home button */
                .back-to-home {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #26464d;
            color: white;
            padding: 8px 16px;
            text-decoration: none;
            border-radius: 4px;
            font-size: 14px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, transform 0.2s;
            border: 1px solid black; /* Added black border */
        }

        .back-to-home:hover {
            background-color: #4682b4;
            transform: scale(1.05);
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/map" class="back-to-home">Back to Home</a>
        <h1>Resources</h1>

        <a href="https://www.churchofjesuschrist.org/?lang=eng" target="_blank" class="button">Church of Jesus Christ Home</a>
        <br>
        <a href="https://www.churchofjesuschrist.org/study/manual/preach-my-gospel-a-guide-to-missionary-service?lang=eng" target="_blank" class="button">Preach My Gospel</a>
        <br>
        <a href="https://www.churchofjesuschrist.org/manual/come-follow-me/2023?lang=eng" target="_blank" class="button">Come Follow Me</a>
        <br>
        <a href="https://id.churchofjesuschrist.org/oauth2/default/v1/authorize?response_type=code&client_id=0oanln1r0c7ZRo7ue357&scope=openid%20profile&state=eE-AtMbkbjvyHY2sOXPe4C7Rk222Xlvg_9KfWunzoOw%3D&redirect_uri=https://imos.churchofjesuschrist.org/ws/auth-controller/login/oauth2/code/ics&nonce=cmWWah1l7YooFPdFJp9i-6s0z7yeEp9sP6dRaEjm4pM" target="_blank" class="button">Missionary Portal Login</a>
    </div>
</body>



  <!-- Footer -->
  <footer style="text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
    <p>&copy; 2023 LDS Missionary Preparation. All rights reserved.</p>
  </footer>


</html>
