<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongolia</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS -->
</head>

<body>
    <header class="title-container">
        <div style="background-image: url('/images/mongolia/prettyMongolia.jpg'); background-size: cover; background-position: center; padding: 50px 0; text-align: center; color: white;">
            <h1 style="margin: 0; font-size: 3rem; color:#ffffff; text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;" ">Mongolia</h1>
        </div>
        <a href="/map" class="go-back-button" style="position: absolute; top: 10px; right: 10px; text-decoration: none; background-color: #407c87; color: white; padding: 10px 15px; border-radius: 5px;">Go Back to Map</a>
      </header>  
    <div class="tab-container">
        <!-- Tab Navigation -->
        <ul class="tabs">
            <li class="tab active" id="food-tab">Food</li>
            <li class="tab" id="culture-tab">Culture</li>
            <li class="tab" id="history-tab">History of the Church</li>
        </ul>


        <!-- Tab Content -->
        <div class="content" id="food-content">
            <!-- Food Content -->
            <h2>Buuz</h2>
            <p>
            <p>In Mongolia, "Buuz" is more than just a steamed dumpling; it’s a cherished culinary tradition enjoyed
                during special occasions like Lunar New Year. Made from a soft dough filled with seasoned meat,
                typically mutton or beef, Buuz are shaped into small parcels and steamed to perfection. Affordable and
                hearty, they reflect Mongolia's nomadic roots and reliance on simple, nourishing ingredients. The name
                “Buuz” embodies their essence, meaning “dumpling” in Mongolian. Today, they are a symbol of warmth and
                hospitality, making them a must-try for anyone exploring Mongolian cuisine.</p>
            </p>
            <img src="/images/mongolia/dumpling.jpg" alt="Buuz"
                style="display: block; margin: 0 auto; width: 60%; border-radius: 8px;">
            <p class="caption">Buuz is a common everyday and festive food in Mongolia.</p>


            <h2>Tsuivan</h2>
            <p>Tsuivan, a popular Mongolian stir-fried noodle dish, traces its origins to China and other Asian cuisines
                but has developed its own unique character over time. Known for its simplicity and natural taste,
                Tsuivan is made with handmade noodles, meat (usually mutton or beef), and vegetables like carrots and
                potatoes. Its straightforward preparation and hearty flavors make it a favorite daily meal in most
                Mongolian households. One of its unique traditions is enjoying the leftovers with warm milk tea poured
                over them, creating a comforting and delicious combination. Tsuivan’s wholesome taste and cultural
                significance make it a cherished staple of Mongolian cuisine.</p>
            <img src="/images/mongolia/noodles.jpg" alt="Tsuivan"
                style="display: block; margin: 0 auto; width: 60%; border-radius: 8px;">
            <p class="caption">Tsuivan is a popular and affordable food in Mongolia. It is a great alternative to rice.
            </p>


            <h2>Khorkhog</h2>
            <p>Khorkhog, often referred to as Mongolian barbecue, is a festive and special occasion dish that embodies
                the hearty, communal spirit of Mongolia. Traditionally prepared during the summer and celebrations like
                Naadam, this dish involves cooking meat—usually mutton or goat—inside a sealed metal container with hot
                stones. These stones, heated over an open fire, not only cook the meat but infuse it with a smoky,
                earthy flavor that makes Khorkhog truly unique. Vegetables like potatoes and carrots are often added,
                absorbing the savory juices for a rich and satisfying meal.
                A cherished part of the experience is handling the hot stones once the dish is ready. These stones,
                believed to have therapeutic properties, are passed around, warming hands and sparking conversations.
                Khorkhog is more than just food; it’s a tradition that brings people together, creating unforgettable
                memories around a shared, flavorful feast.</p>
            <img src="/images/mongolia/food.jpg" alt="Khorkhog"
                style="display: block; margin: 0 auto; width: 60%; border-radius: 8px;">
            <p class="caption">Khorkhog is a unique dish enjoyed during gatherings and special occasions.</p>
        </div>






        <div class="content" id="culture-content" style="display: none;">
            <!-- Culture Content -->
            <h2>Language</h2>
            <p>
                The Mongolian language, a vital aspect of Mongolia's cultural identity, belongs to the Mongolic language
                family. Its origins can be traced back to the Proto-Mongolic language, which was spoken by the ancestors
                of today’s Mongolic peoples over a millennium ago. The modern Mongolian language is spoken by around six
                million people, primarily in Mongolia, the Inner Mongolia Autonomous Region of China, and some areas in
                Russia. It serves as the official language of Mongolia, where it is referred to as “Khalkha Mongolian,”
                the standard dialect based on the Khalkha subgroup, which is spoken by the majority of Mongolians.


                Historically, the Mongolian language has undergone significant transformations in its written form. The
                traditional Mongolian script, developed in the early 13th century during the Mongol Empire, is written
                vertically from top to bottom and from left to right. This elegant script was adapted from the Old
                Uyghur script and has served as a cultural symbol of Mongolia's rich history. Even today, the
                traditional script is used in Inner Mongolia and is being reintroduced in modern Mongolia as part of
                cultural preservation efforts.


                In the 20th century, during Mongolia's time as a Soviet satellite state, the Cyrillic alphabet was
                introduced in 1941, replacing the traditional script for practical and political reasons. The Cyrillic
                version of the Mongolian alphabet consists of 35 letters, including adaptations to accommodate Mongolian
                sounds. This script remains the primary writing system in Mongolia, making the language more accessible
                to those familiar with the Cyrillic script and facilitating literacy efforts during the Soviet era.


                The Mongolian language is deeply tied to the nation's history, from the imperial decrees of Genghis Khan
                written in classical Mongolian script to the modern literature and media produced in Cyrillic. It
                embodies the resilience of the Mongolian people and serves as a bridge between their nomadic past and
                modern identity. Efforts are ongoing to revive the traditional script alongside Cyrillic, reflecting a
                commitment to preserving Mongolia’s unique linguistic heritage while embracing contemporary
                practicalities. This dual-script approach highlights Mongolia's efforts to honor its history while
                remaining forward-looking. </p>
            <img src="/images/mongolia/language.png" alt="Language"
                style="display: block; margin: 0 auto; width: 60%; border-radius: 8px;">


            <h2>Currency</h2>
            <p>
                The Mongolian currency is the **Tögrög (MNT)**, introduced in 1925 as the country’s official currency,
                replacing the use of foreign currencies like the Russian ruble and Chinese yuan. Its name, meaning
                "circle" in Mongolian, reflects the shape of the original coins. Issued by the Bank of Mongolia, the
                Tögrög comes in both coins and vibrant banknotes featuring national heroes like Chinggis Khaan and
                cultural symbols. Its introduction marked a significant step in establishing Mongolia's economic
                independence during the early 20th century. </p>
            <img src="/images/mongolia/currency.jpg" alt="Currency"
                style="display: block; margin: 0 auto; width: 60%; border-radius: 8px;">




            <h2>Weather</h2>
            <p> Mongolia experiences a **continental climate**, characterized by extreme variations in temperature and
                weather conditions. Known as the "Land of Blue Sky," Mongolia enjoys over 250 sunny days a year. Winters
                are long and harsh, with temperatures often dropping below -30°C (-22°F), especially in January, the
                coldest month. Summers, by contrast, are warm and short, with temperatures ranging from 20°C to 30°C
                (68°F to 86°F), particularly in July.
                Rainfall is scarce, with most precipitation occurring between June and August, making the country
                largely arid or semi-arid. The Gobi Desert in the south experiences dry, windy conditions, while the
                northern and central regions have a more temperate climate. The significant temperature swings between
                day and night and across seasons are a hallmark of Mongolia's weather, reflecting its vast, open steppes
                and high-altitude geography. </p>
            <img src="/images/mongolia/hut.jpg" alt="weather"
                style="display: block; margin: 0 auto; width: 60%; border-radius: 8px;">



        </div>



    <div class="content" id="history-content" style="display: none;">
        <!-- Church History Content -->
        <h2>History of the Church in Mongolia</h2>
        <p> The history of The Church of Jesus Christ of Latter-day Saints in Mongolia began in the early 1990s,
            following the country's transition from a communist regime to a democratic government. This period of
            openness allowed for greater religious freedom and the entry of international organizations, including The
            Church of Jesus Christ of Latter-day Saints. In 1992, the first missionaries arrived in Mongolia, initiating
            efforts to share their faith and establish the church.


            On April 15, 1993, Neal A. Maxwell dedicated Mongolia for the preaching of the gospel at Zaisan Hill in
            Ulaanbaatar, blessing the country for the preaching of the gospel. The early converts to the church in
            Mongolia, including Enkhtuvshin Togtokh played a crucial role in laying the foundation for its growth. By
            1995, the first Mongolian congregation was organized in Ulaanbaatar, marking a significant milestone.

            The Church of Jesus Christ of Latter-day Saints has contributed to Mongolian society through both religious
            and humanitarian efforts. It has provided education, disaster relief, and health programs, strengthening its
            ties with the community. In 2009, the Ulaanbaatar Mongolia Stake was established as the first stake in
            Mongolia, and the church has since grown to include two stakes in the capital city. Additionally, there are
            multiple districts and branches established across the countryside, reflecting the expanding reach and
            influence of the church throughout the country.

        </p>
        <p> Today, The Church of Jesus Christ of Latter-day Saints continues to flourish in Mongolia, with thousands of
            members, strong local leadership, and a commitment to service. The church's presence is a testament to the
            resilience of faith, the dedication of its early pioneers, and the openness of Mongolia to diverse religious
            expressions in the modern era.


        </p>
        <br><br>
        <img src="/images/mongolia/churchbuilding.jpg" alt="MonChurchBuilding"
            style="display: block; margin: 0 auto; width: 60%; border-radius: 8px;">
        <br><br>
        <ul>
            <li><strong>1992:</strong> Six missionary couples arrived in Ulaanbaatar to teach English and assist with
                higher education in the country. The missionaries were unable to openly proselytize, so they taught in
                high schools and universities and held private meetings. The first two converts, Tsendkhuu Bat-Ulzii and
                Lamjav Purevsuren, were baptized in February 1993.</li>
            <li><strong>1993:</strong> The first small branch of The Church of Jesus Christ of Latter-day Saints was
                established.</li>
            <li><strong>1995:</strong> The first mission, the Mongolia Ulaanbaatar Mission, was established, with Elder
                Richard E. Cook as the first mission president.</li>
            <li><strong>1996:</strong> The Ulaanbaatar Mongolia District was organized.</li>
            <li><strong>1999:</strong> The first meetinghouse was dedicated in a historic landmark building in
                Ulaanbaatar.</li>
            <li><strong>2001:</strong> The Book of Mormon was translated into Mongolian.</li>
            <li><strong>2009:</strong> The first Mongolian stake was organized.</li>
        </ul>

        <br><br>
        <img src="/images/mongolia/missionary.jpeg" alt="Mongolian Missionary"
            style="display: block; margin: 0 auto; width: 60%; border-radius: 8px;">
        <p class="caption">The first Mongolian Missionary receiving her mission calling.</p>




    </div>

</div>
    <!-- Include the JavaScript to handle tab switching -->
    <script src="/js/tabs.js"></script>
</body>

</html>